{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'articles/all-articles.css' %}">
    <title>My Articles</title>
</head>
<body>
    <a class="home-button" href="{% url 'main' %}">Home</a> 
    <header>
        <h1>Library</h1>
       
        <div class="user-info">
            {% if user.is_authenticated %}
                <p><strong>{{ user.username }}</strong></p>
                <p><a href="{% url 'logout' %}">Logout</a></p>
            {% endif %}
        </div>
        <a class="main-link" href="{% url 'article_add' %}">Add Article</a>
        <a class="main-link" href="{% url 'timeline' %}">History</a> 
        <a class="main-link" href="{% url 'user_statistics' %}">Statistics</a>
        {% include 'header.html' %}
    </header>
    <main>
        <ul>
            {% for article in myarticles %}
                <li>
                    
                    <a class='title' href="{% url 'details' article.id %}">{{ article.title }}</a>

                  
                    <a href="{% url 'article_edit' article.id %}">Edit</a>
                    <form method="post" action="{% url 'article_delete' article.id %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit">Delete</button>
                    </form>
               
                    <form method="post" action="{% url 'like_article' article.id %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit">👍{{ article.likes }}</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
        
    </main>
</body>
</html>
